@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

.hide {
  visibility: hidden;
}

.game-board {
  margin: 20vw, 0;
}

body {
  background-image: url("https://i.imgur.com/ehkUsTB.jpg");
}

h1 {
  font-family: 'Cabin Sketch';
  color: $white;
  text-align: center;
}

.start-text {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 25px;
  color: $white;
  font-size: 17px;
  margin-top: 70px;
  text-align: center;
}

#win-message {
  color: $white;
  font-weight: 600;
  text-align: center;
}

#games-played,
#user-message {
  color: $white;
  text-align: center;
  font-size: 18px;
}

.xo {
  font-family: 'Cabin Sketch', cursive;
  font-size: 100pt;
}

.box {
  align-items: center;
  color: $font-color;
  display: flex;
  height: 25.3vh;
  justify-content: center;
  width: 70%;
}

.box:hover {
  background-color: $grey;
  opacity: 0.2;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.row {
  align-items: center;
  margin: auto;
}

.vertical {
  border-left: 1px solid $white;
  border-right: 1px solid $white;
}

.horizontal {
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
}
