@import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

.hide {
  visibility: hidden;
}

 .game-board {
   margin: 20vw, 0;
 }

 body {
   background-color: $background-color;
 }

 h1 {
   text-align: center;
 }

 #win-message {
   text-align: center;
   font-weight:600;
   color: green;
 }

 .box {
   align-items: center;
   border: 1px solid $white;
   color: $font-color;
   display: flex;
   height: 25.3vh;
   justify-content: center;
   width: 70%;
 }

 .grey {
   background-color: $grey;
 }

 .teal {
   background-color: $teal;
 }

 .row {
   align-items: center;
   margin: auto;
 }

.box:hover {
  background-color: $grey;
 }
